* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}